
.slick-slide > div{
    margin: 0 10px;
    
}

button.slick-prev:before{
    content: "<";
      font-size: 3rem;
      margin: 0;
      color: #25BE9B;
}
button.slick-next:before{
    content: ">";
      font-size: 3rem;
      margin: 0;
      color: #25BE9B;
}

/* img.cart{
    width: -webkit-fill-available;
    max-width: 100%;
   


} */

