@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans+JP:wght@300;500&display=swap');
body{
background-color: rgb(255 255 255);
font-family: sans-serif;
box-sizing: border-box;
font-family: 'Exo 2', sans-serif;
}

html{
  font-size: 80.5%;


}
a{
  text-decoration: none;
  

}
li{
  list-style: none;
  
}

.topHeaderWrapper{
  display:flex;
  padding: 0.5rem;

  border-bottom: 10px rgba(189, 189,189, .9);
  background-color: rgba(189, 189,189, 0.1);

 
  

}
.topHeader{
 
  align-items: center;
  background-color: transparent;

 

  }
  .topHeader a{
    color: black;
    border-right: 1px solid black;
   margin-right: 2rem;
   font-size: 15px;
   align-items: center;
   font-family: 'Noto Sans JP', sans-serif;
   font-weight: bold;
   

  }

.socialLink{
  /* padding: 15px; */
  background-color: transparent;
  

}
.socialLink img{
  /* width: 25px; */
}

/* ---------------nav-2-------------- */

.main-nav{
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns:  1fr 2fr 1fr 2fr 1fr ;
  background: white;
  border: 1px rgba(189, 189,189, 0.5); 
 
 
}

.logo{
  
  display: grid;
  grid-column: 1/2;
  justify-content: start;
  background: white;
  height: 12rem;
  margin-left: 20%;
  
 }
  
  .account{
    /* grid-column: 3/4;
    width: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr 3fr;
    position: relative;
    width: 78%;
    height: 30%;
    margin-top: 20%;
    border-radius: 80%;
    padding-left: 5%;
    background:#425462; */
    background: #425462;
    border-radius: 50px;
    color: #fff;
    position: relative;
    top: 25px;
    display: grid;
    align-items: center;
    width: 49%;
    height: 1.9rem;
    /* margin-top: 5%; */
   margin-left: 100%;
   padding-bottom: 2.5rem;
  
  }
  .box{
    grid-column: 1/2;
    width: 3.2rem;
    height: 2.5rem;
   background-color: transparent;
    padding-left: 20%;
    border-radius: 50% 0% 0% 50%;
    align-items: center;
    font-weight: 400;
     
  }

  .openaccount{
    grid-column: 2/3;
    width:11rem;
    height: 99%;
    border: 2px #25BE9B solid;
    border-radius: 50rem;
  border-top-left-radius:100%;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Exo 2',sans-serif;
    background: #25BE9B;
    font-size: 12px; 
    font-weight: 400;
    font-size: 14px;
  }
 .menu-link{
  grid-column: 4/5;
  
  
  }
  .menu{
    height: 6rem;
    display: flex;
    width: 45rem;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    background-color: white;
    padding-left: 10%;
  }
  .menu a{
    background-color: transparent;
    
  }
  .menu a:hover{
    color:#26c187;
    font-weight: bold;    
  }
  .button{
    grid-column: 5/6;
    height: 6rem;
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    background-color: white;
  }
  .signInButton{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 1px;
    color: black;
    border: 2px solid #26c187;
    border-radius: 0px 20px 20px 20px;
    font-size: 18px;
   padding-top: 10px;
   padding-bottom: 10px;
   background: transparent;
   
  }
  .signInButton:hover{
     color:#26c187; 
  }

  /* --------------Open Account Form--------------  */


  .wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(189, 189,189, 0.9);
  }

.fulldiv{
  position: fixed;
  width:50%;
  height: 80%;
  background:#425462;

}
 

/* -------------#Home Page--------------- */

.text{
  position: absolute;
  bottom: 34rem;
  font-weight: bolder;
  font-size: 56px;
  color: #425462;
  background-color: transparent;
  margin-left: 40%;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem;
  
  
}

.text1{
  position: absolute;
  bottom: 29rem;
  
  font-size: 24px;
  color: #425462;
  background-color: transparent;
  margin-left: 40%;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.2rem;
}
.search {
    display: flex;
    width: 50rem;
    height: 50px;
    position: absolute;
    bottom: 24rem;
    margin-left: 35%;
    background: #fff;
    border-radius: 30px;
}
.form{
  height: 50px;
  width: 70% !important;
  border: 0px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 16px !important;
  color: #425462;
  border: none;
}
#button-addon2{
  height: 50px;
    width: 30% !important;
    vertical-align: bottom;
    border-radius: 50px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    font-size: 16px !important;
    font-weight: bold;
}
 .btnG{
  border: 1px #25BE9B solid !important;
  font-family: 'Exo 2',sans-serif !important;
  font-size: 12px !important;
  border-radius: 50px !important;
  color: #fff !important;
  background: #25BE9B !important;
}

.why{
  background: linear-gradient(to right, #25BE9B 0%, #a7e5d7 100%);
  position: relative;
  height:fit-content;
  width: 100%;
   padding:2%;
 
}


.whyPay{
 
  position: relative;
  height: 50%;
  width: 100%;
  font-weight: bold;
} 
/* .newFlex{
  
  margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
   
  }
  .newFlex.row{
    margin-right: -15px;
    margin-left: -15px;
   
  }
  .newFlex.col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
  }
  .col img{
    max-width: 500px;
    width: 100%;
  } */
  
  
  .login-box {
    position: relative;
    width: 407px;
    height: 455px;
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
  }
  h2 {
    font-size:2em;
    color:#fff;
    text-align:center;
  }
  .input-box {
    position:relative;
    width:310px;
    margin:30px 0;
    border-bottom:1px solid #fff;
  }
  .input-box label {
    position:absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    font-size:1em;
    color:#fff;
    pointer-events:none;
    transition:.5s;
  }
  .input-box input:focus  ~ label,
  .input-box input:valid  ~ label {
    top:-5px;
  }
  .input-box input {
    width:100%;
    height:50px;
    background:transparent;
    border:none;
    outline:none;
    font-size:1em;
    color:#fff;
    padding:0 35px 0 5px;
  }
  .input-box .icon {
    position:absolute;
    right:8px;
    top:50%;
    color: #fff;
    transform: translateY(-50%);
  }
  .remember-forgot {
    margin:-15px 0 15px;
    font-size:.9em;
    color:#fff;
    display:flex;
    justify-content:space-between;
  }
  .remember-forgot label input {
    margin-right:3px;
  }
  .remember-forgot a {
    color:#fff;
    text-decoration:none;
  }
  .remember-forgot a:hover {
    text-decoration:underline;
  }
  button {
    width:100%;
    height:40px;
    background-color:#fff;
    border:none;
    border-radius:40px;
    cursor:pointer;
    font-size:1em;
    color:#000;
    font-weight:500;
  }
  .register-link {
    font-size:.9em;
    color:#fff;
    text-align:center;
    margin:25px 0 10px;
  }
  .register-link p a {
    color:#fff;
    text-decoration:none;
    font-weight:600;
  }
  .register-link p a:hover {
    text-decoration:underline;
  }
  @media (max-width:500px) {
    .login-box {
      width:100%;
      height:100vh;
      border:none;
      border-radius:0;
    }
    .input-box {
      width:290px;
    }
  }

  /* -------------------Home our service Card------------- */
  .container-1{
   padding-left: 05%;
   padding-right: 5%;
   padding-bottom: 0%;
  }
  .serviceSection{
    height:60rem;
   
  }
  .contant-center{
    border: 1px solid #ccc;
    box-shadow: inset 0 0 5px #25BE9B, inset 0 0 30px #A7E5D7;
    padding: 30px 15px;
    
  }
  .text-center {
    align-items: center;
  }
  .btnt{
    background: #25BE9B;
    color: #fff;
    height: 40px;
    border: none;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 15px;
    align-items: center;

  }

  



 
 